/* app global css */
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(224, 224, 224);        /* color of the tracking area */    /* roundness of the scroll thumb */
}

body::-webkit-scrollbar-thumb {
  background-color: #29558f;    /* color of the scroll thumb */
}
