@tailwind base;
@tailwind components;
@tailwind utilities;
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;

}
input[type=number] {
 -moz-appearance: textfield;
 appearance: textfield;

}


main
{
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  text-align: center;
  padding: 0 18px;
}

a:hover{
  opacity: 0.8;
  transition: all .4s;
}
input{
  transition: all .4s;
}

input:focus{
  outline: 0;
}
